$color-light-red-primary: hsl(0, 100%, 67%);
$color-orabge-yealow-primary: hsl(39, 100%, 56%);
$color-green-teal-primary: hsl(166, 100%, 37%);
$color-cobalt-blue-primary: hsl(234, 85%, 45%);
$gradnient-light-slite-blue:hsl(252, 100%, 67%);
$gradnient-light-royal-blue:hsla(241, 72%, 46%, 0);
$neutral-white: hsl(0, 0%, 100%);
$neutral-pale-blue:hsl(221, 100%, 96%);
$neutral-light-lavender:hsl(241, 100%, 89%);
$neutral-dark-gray-blue:hsl(224, 30%, 27%);